</div> <!-- // viewport -->


<div class="modal fade" id="share">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header text-center">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h3 class="modal-title">Share RD Home Services with Friends!</h3>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-3 col-xs-offset-3">
						<a href=""><img src="/assets/svg/facebook.01.svg"></img></a>
					</div>
					<div class="col-xs-3">
						<a href=""><img src="/assets/svg/twitter.01.svg"></img></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- javascriptoids -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/fx.js"></script>
<script src="/assets/js/app.js"></script>

<!-- analytictoids -->
<script>
	var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
	(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
	g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
	s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>