---
layout: default
title: home
---
<div class="bg header hero" style="background-image: url('assets/images/header.01.png');">
	<div class="wrapper">
		<div class="container animated  fadeIn">
			<div class="row">
				<div class="col-xs-10 col-sm-8 col-md-6">
					<h1>Hey Edmonton!</h1>
					<h2>Are you ready to get your Spring Clean on this Summer?</h2>
					<a href="" class="btn btn-info">Lean More</a>
				</div>
			</div>
		</div>
	</div>
	<img src="/assets/images/staff.01.png" class="hero-img animated bounceInUp">
</div>
<article class="para">
	
	<section class="container hidden-xs">
		<div class="row">
			<div class="col-sm-6 col-md-6">
				<h2>It's Easy Headline!</h2>
				<h3>Uniquely synergize extensive data vis-a-vis an expanded array of functionalities.</h3>
				<p>Competently promote functionalized deliverables rather than customized experiences. Uniquely synergize extensive data vis-a-vis an expanded array of functionalities.</p>
				<p><a href="" class="btn btn-primary">Book Now!</a></p>
			</div>
			<div class="col-sm-6 col-md-3">
				<img src="assets/svg/couch.01.svg" style="height: 44px; width: auto;">
				<h3><a href="">Residential</a></h3>
				<p>Holisticly evolve standardized architectures for multimedia based vortals.</p>
				<hr>
				<ul class="list-unstyled">
					<li><img src="assets/svg/tick.01.svg" style="width: 30px;margin: 4px;"> Excellent Pricing</li>
					<li><img src="assets/svg/tick.01.svg" style="width: 30px;margin: 4px;"> Customer Service</li>
					<li><img src="assets/svg/tick.01.svg" style="width: 30px;margin: 4px;"> Convenient Appointments</li>
				</ul>
			</div>
			<div class="col-sm-6 col-md-3">
				<img src="assets/svg/truck.01.svg" style="height: 44px; width: auto;">
				<h3><a href="">Commercial</a></h3>
				<p>Holisticly evolve standardized architectures for multimedia based vortals.</p>
				<hr>
				<ul class="list-unstyled">
					<li><img src="assets/svg/tick.01.svg" style="width: 30px;margin: 4px;">  Recycling Experts</li>
					<li><img src="assets/svg/tick.01.svg" style="width: 30px;margin: 4px;">  Another Feature</li>
					<li><img src="assets/svg/tick.01.svg" style="width: 30px;margin: 4px;">  Good Point</li>
				</ul>
			</div>
		</div>	
	</section>


	<div class="hidden-xs">
		{% include elements/home.features.01.inc.html %}
	</div>
	<div class="visible-xs">
		{% include elements/home.features.02.inc.html %}
	</div>
	
	{% include illustration-animation.01.inc.html %}
</article>
	

