---
layout: default
title: home
---
<div class="bg header hero" style="background-image: url('assets/images/header.01.png');">
	<div class="wrapper">
		<div class="container animated  fadeIn">
			<div class="row">
				<div class="col-xs-10 col-sm-8 col-md-6">
					<h1>Hey Edmonton!</h1>
					<h2>Are you ready to get your Spring Clean on this Summer?</h2>
					<a href="" class="btn btn-info">Lean More</a>
				</div>
			</div>
		</div>
	</div>
	<img src="assets/images/staff.01.png" class="hero-img animated bounceInUp">
</div>
<article class="para">
	
	<section class="container hidden-xs">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<h2>Junk Removal Made Easy</h2>
				<h3>Eliminate your unwanted clutter, while supporting a non-profit and creating jobs.</h3>
				<p>There is a better way for you to have your unwanted junk removed. You can get rid of junk and clutter while helping fund employment services and job creation in the Edmonton area.</p>
				<p><a href="" class="btn btn-primary">Book Now!</a></p>
			</div>
			<div class="col-sm-6 col-md-3">
				<img src="assets/svg/couch.01.svg" style="height: 44px; width: auto;">
				<h3><a href="">How it works</a></h3>
				<p>Check the pricing before your book, pay competitive rates and help do some good.</p>
				<hr>
				<ul class="list-unstyled">
					<li><img src="assets/svg/tick.01.svg" style="width: 30px;margin: 4px;"> Easy Online Pricing Quotes</li>
					<li><img src="assets/svg/tick.01.svg" style="width: 30px;margin: 4px;"> Book Online in a few clicks</li>
					<li><img src="assets/svg/tick.01.svg" style="width: 30px;margin: 4px;"> Competitive Rates</li>
				</ul>
			</div>
			<div class="col-sm-6 col-md-3">
				<img src="assets/svg/truck.01.svg" style="height: 44px; width: auto;">
				<h3><a href="">How We Help</a></h3>
				<p>We take the trash away, while you give back: helping fund job services for those in need.</p>
				<hr>
				<ul class="list-unstyled">
					<li><img src="assets/svg/tick.01.svg" style="width: 30px;margin: 4px;">  Employment Help</li>
					<li><img src="assets/svg/tick.01.svg" style="width: 30px;margin: 4px;">  Medical Assistance</li>
					<li><img src="assets/svg/tick.01.svg" style="width: 30px;margin: 4px;">  Job Creation</li>
				</ul>
			</div>
		</div>	
	</section>


	<div class="hidden-xs">
		{% include elements/home.features.01.inc.html %}
	</div>
	<div class="visible-xs">
		{% include elements/home.features.02.inc.html %}
	</div>
	
	{% include illustration-animation.01.inc.html %}
</article>
	

