
<footer>
	<section class="container">
		<div class="row">
			<div class="col-sm-4 col-md-3">
				<h5>Junk Removal</h5>
				
				<ul class="list-unstyled">
					<li><a href="#">Pricing &amp; Info</a></li>
					<li><a href="#">Faq</a></li>
					<li><a href="#">Blog 4 Good</a></li>
					<li><a href="#">Employment Opportunities</a></li>
					<li><a href="#">Meet Our Crew</a></li>
				</ul>
			</div>
			<div class="col-sm-4 col-md-3 col-md-offset-3">
				<h5>Contact Us</h5>
				<p>Email: <a href="">hello@domainname.com</a><br>				
				<p>Office: (780) 761-9636</p>
				<p>15308 Stony Plain Road<br>
				Edmonton, AB<br>T5P 3Y6</p>
			</div>
			<div class="col-sm-4 col-md-3">
				<h5>Book Junk Removal</h5>
				<p>Call: <a href="">(800) 000-0000</a></p>
				<p>Open Mon-Fri, 9am - 5pm</p>
				<p><a href="" class="btn btn-primary">Book Online</a></p>
				
			</div>
		</div>
		<div class="row">
			<div class="col-xs-9">
				<h3><span>We do more!</span><br>
				Greater Edmonton moving, storage and cleaning.<br><a href="">MyRDServices.com</a></h3>		
	
				<p>&copy; 2015 Redemptive Services Inc. All rights reserved. <a href="#">Privacy Policy</a> | <a href="#">Sitemap</a></p>
			</div>
			<div class="col-xs-3">
				<br><br><br>
				<a href="" class="rdcons rdbtn"><img src="assets/svg/facebook.01.svg"></img></a>
				<a href="" class="rdcons rdbtn"><img src="assets/svg/twitter.01.svg"></img></a>	
			</div>
	</section>
</footer>
</main>
