	<div class="truck para-container" data-para="horz" data-speed="0.8"><img src="{{ site.baseurl }}/assets/svg/truck.02.svg"></div>
	<div class="truck para-container" data-para="horz" data-speed="3"><img src="{{ site.baseurl }}/assets/svg/truck.02.svg"></div>
	<div class="truck para-container" data-para="horz" data-speed="1" style="left: -50%;"><img src="{{ site.baseurl }}/assets/svg/truck.02.svg"></div>
	<div class="clouds para-container" data-para="horz" data-speed="-12"><img src="{{ site.baseurl }}/assets/svg/clouds.01.svg"></div>