
<footer>
	<section class="container">
		<div class="row">
			<div class="col-sm-4 col-md-3">
				<h5>Quick Links</h5>
				
				<ul class="list-unstyled">
					<li><a href="#">Services</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Employment</a></li>
					<li><a href="#">Our Crew</a></li>
				</ul>
			</div>
			<div class="col-sm-4 col-md-3 col-md-offset-3">
				<h5>Contact Us</h5>
				<p>Email: <a href="">hello@domainname.com</a><br>				
				<p>Office: (780) 761-9636</p>
				<p>15308 Stony Plain Road<br>
				Edmonton, AB<br>T5P 3Y6</p>
			</div>
			<div class="col-sm-4 col-md-3">
				<h5>Book Services</h5>
				<p>Call: <a href="">(800) 000-0000</a></p>
				<p>Open Mon-Fri, 9am - 5pm</p>
				
			</div>
		</div>
		<div class="row">
			<div class="col-xs-9">
				<h3><span>Junk Removal</span><br>
				Greater Edmonton Junk 4 Good.<br><a href="">junk4good.com</a></h3>		
	
				<p>&copy; 2015 Redemptive Services Inc. All rights reserved. <a href="#">Privacy Policy</a> | <a href="#">Sitemap</a></p>
			</div>
			<div class="col-xs-3">
				<br><br><br>
				<a href="" class="rdcons rdbtn"><img src="assets/svg/facebook.01.svg"></img></a>
				<a href="" class="rdcons rdbtn"><img src="assets/svg/twitter.01.svg"></img></a>	
			</div>
	</section>
</footer>
</main>