
	<section class="feature">
		<section class="container">
			<div class="row">
				<div class="col-sm-12 col-md-5">
					<h2>How it Works</h2>
					<p>Holisticly evolve standardized architectures for multimedia based vortals. Objectively provide access to reliable technologies.</p>
					<a href="" class="btn btn-info">Book Today</a>
				</div>
				 <div class="clearfix visible-sm-block"><hr></div>
				<div class="col-sm-12 col-md-7 text-center">
					<div class="row">
						<div class="col-sm-4">
							<div class="icon-block">
								{% include elements/svg/headset.01.svg %}
							</div>
							<h3>Call</h3>
							<h4>Let's Talk</h4>
						</div>
						<div class="col-sm-4">
							<div class="icon-block">
								{% include elements/svg/clock.01.svg %}
							</div>	
							<h3>Book</h3>
							<h4>7-days a week</h4>
						</div>
						<div class="col-sm-4">
							<div class="icon-block">
								{% include elements/svg/truck.01.svg %}
							</div>
							<h3>Relax</h3>
							<h4>Junk is gone</h4>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
	<section class="container">
		<div class="row">
			<div class="col-md-5">
				<img src="/assets/images/placeholder.05.jpg">
			</div>
			<div class="col-md-7">
				<h3>We also offer <a href="">Bin Rentals</a></h3>
				<h2>Carry the load yourself?<br>Large container bins we got.</h2>
				<p>Great for long-term home DIY'ers or the discerning contractor looking for reliable service.</p>
				<p><a href="">Available Sizes</a> | <a href="">Pricing</a></p>
			</div>

		</div>
		<hr>
		<div class="row">
			<div class="col-md-7">
				<h3>Local Economic Figures</h3>
				<div class="graph">
					<div class="bar"></div>
					<div class="bar"></div>
				</div>
				<p><a href="">More About RD Home Services</a></p>
			</div>
			<div class="col-md-5">
				<h3>Social Enterprise</h3>
				<h4>$1,000,0000+ Local Impact</h4>
				<p>Uniquely synergize extensive data vis-a-vis an expanded array of functionalities. Competently promote functionalized deliverables rather than customized experiences.</p>
				
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-5">
				<h3>Jack McDoogan</h3>
				<h4>J.M. Contracting</h4>
				<p>Intrinsicly engineer business value without integrated customer service. Holisticly envisioneer backward-compatible leadership skills before robust communities. Dynamically seize.</p>
			</div>
			<div class="col-md-7">
				<h3>Here's What Jack Says About Us...</h3>
				<h2>&ldquo;What an amazing thing I am saying about this company. I recommend them to anyone who loves amazing service.&rdquo;</h2>
				<p><a href="">More Testimonials?</a> | <a href="">Tell Us Yours!</a></p>
			</div>
		</div>
	</section>