	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		
		<!-- 	panel
				################################################################################ -->
		
		<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
				<h6>
					<a  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
					Residential &amp; Commercial Services
					</a>
				</h6>
			</div>
			<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-6">
							<div class="thumbnail"><img src="/assets/images/placeholder.06.jpg"></div>
						</div>
						<div class="col-xs-6">
							<div class="thumbnail"><img src="/assets/images/placeholder.07.jpg"></div>
						</div>
						<div class="col-md-4">
							<h3>From Small Homes to Big Messy Job Sites</h3>
							<p>Uniquely synergize extensive data vis-a-vis an expanded array of functionalities.</p>
							<a href="" class="btn btn-info">Residential</a> <a href="" class="btn btn-info">Commercial</a>
						</div>
					</div>				
				</div>
			</div>
		</div>

		<!-- 	panel
				################################################################################ -->
		
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingTwo">
				<h6>
					<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					This is How it Works
					</a>
				</h6>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-4">
							<br>
							<img src="{{ site.baseurl }}/assets/svg/headset.01.svg">
						</div>
						<div class="col-xs-8">
							<h5>1. Give us a call</h5>
							<p>Uniquely synergize extensive data vis-a-vis an expanded array of functionalities.</p>
							<h6>1-800-junk4good</h6>
							<a href="" class="btn btn-info">Book Online</a>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-xs-4">
							<br>
							<img src="{{ site.baseurl }}/assets/svg/clock.01.svg">
							
						</div>
						<div class="col-xs-8">
							<h5>2.Schedule a pick-Up</h5>
							<p>Competently promote functionalized deliverables rather than customized experiences.</p>
							<a href="" class="btn btn-info">Learn More</a>
						</div>
					</div>
					<hr>
					<div class="row">
						<div class="col-xs-4">
							<br>
							<img src="{{ site.baseurl }}/assets/svg/truck.01.svg">

						</div>
						<div class="col-xs-8">
							<h5>3. Junk Gone 4 Good!</h5>
							<p>Uniquely synergize extensive data vis-a-vis an expanded array of functionalities. Competently promote functionalized deliverables rather than customized experiences.</p>
							<a href="" class="btn btn-info">Learn More</a>
						</div>
					</div>
					<hr>
					<h6>5 years of reliable, courteous service.</h6>
					<hr>
					<h6>Most pick-ups take less than 15 minutes.</h6>
					<hr>
					<h6>58% of all materials are recycled.</h6>
					<hr>
					<h6>All customers are scheduled within 2hr time-blocks.</h6>
				</div>
			</div>
		</div>

		<!-- 	panel
				################################################################################ -->
		
		<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingThree">
				<h6>
					<a  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					Bin Rentals
					</a>
				</h6>
			</div>
			<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-12">
							<img src="/assets/images/placeholder.05.jpg" style="padding: 20px">
					
							<h3>We also offer <a href="">Bin Rentals</a></h3>
							<h2>Carry the load yourself?<br>Large container bins we got.</h2>
							<p>Great for long-term home DIY'ers or the discerning contractor looking for reliable service.</p>
							<p><a href="">Available Sizes</a> | <a href="">Pricing</a></p>
						</div>
			
					</div>		
				</div>
			</div>
		</div>
	
		<!-- 	panel
				################################################################################ -->
		
		<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingFour">
				<h6>
					<a  class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
					Social Enterprise
					</a>
				</h6>
			</div>
			<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
				<div class="panel-body">
					<div class="row">
						<div class="col-xs-12">
							<h3>Local Economic Figures</h3>
							<div class="graph">
								<div class="bar"></div>
								<div class="bar"></div>
							</div>
							<p><a href="">More About RD Home Services</a></p>
							
							<h4>$1,000,0000+ Local Impact</h4>
							<p>Uniquely synergize extensive data vis-a-vis an expanded array of functionalities. Competently promote functionalized deliverables rather than customized experiences.</p>
				
						</div>
			
					</div>		
				</div>
			</div>
		</div>
		
	</div>
	<div class="container">
		<h3>&ldquo;What an amazing thing I am saying about this company. I recommend them to anyone who loves amazing service.&rdquo;</h3>
		<h4>J.M. CONTRACTING</h4>
		<p><a href="">More Testimonials?</a> | <a href="">Tell Us Yours!</a></p>
	</div>