
	<section class="feature">
		<section class="container">
			<h2>Residential &amp; Commercial Services</h2>
			<div class="row">
				<div class="col-xs-4">
					<div class="thumbnail"><img src="/assets/images/placeholder.06.jpg"></div>
				</div>
				<div class="col-xs-4">
					<div class="thumbnail"><img src="/assets/images/placeholder.07.jpg"></div>
				</div>
				<div class="col-md-4">
					<h3>From Small Homes to Big Messy Job Sites</h3>
					<p>Uniquely synergize extensive data vis-a-vis an expanded array of functionalities.</p>
					<a href="" class="btn btn-info">Residential</a> <a href="" class="btn btn-info">Commercial</a>
				</div>
			</div>	
		</section>
	</section>
	<section class="container">
		<h2>How it Works</h2>
		<div class="row">
			<div class="col-sm-6 col-md-4">
				<div class="well">
					<div class="row">
						<div class="col-sm-4">
							{% include elements/svg/headset.01.svg %}
						</div>
						<div class="col-sm-8">
							<h3>1. Call</h3>
							<h4>1-800-junk4good</h4>
						</div>
					</div>
					<a href="" class="btn btn-info btn-block">Learn More</a>
					<hr>
					<p>Uniquely synergize extensive data vis-a-vis an expanded array of functionalities.</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="well">
					<div class="row">
						<div class="col-sm-4">
							{% include elements/svg/clock.01.svg %}
						</div>
						<div class="col-sm-8">
							<h3>2. Book</h3>
							<h4>7-days a week</h4>
							
						</div>
					</div>
					
					<a href="" class="btn btn-info btn-block">Learn More</a>
					<hr>
					<p>Uniquely synergize extensive data vis-a-vis an expanded array of functionalities.</p>
				</div>
			</div>
			<div class="col-sm-6 col-md-4">
				<div class="well">
					<div class="row">
						<div class="col-sm-4">
							{% include elements/svg/truck.01.svg %}
						</div>
						<div class="col-sm-8">
							<h3>3. Good</h3>
							<h4>Junk is gone!</h4>
						</div>
					</div>
					<a href="" class="btn btn-info btn-block">Learn More</a>
					<hr>
					<p>Uniquely synergize extensive data vis-a-vis an expanded array of functionalities.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="container">
		<div class="row">
			<div class="col-md-5">
				<img src="/assets/images/placeholder.05.jpg">
			</div>
			<div class="col-md-7">
				<h3>We also offer <a href="">Bin Rentals</a></h3>
				<h2>Carry the load yourself?<br>Large container bins we got.</h2>
				<p>Great for long-term home DIY'ers or the discerning contractor looking for reliable service.</p>
				<p><a href="">Available Sizes</a> | <a href="">Pricing</a></p>
			</div>

		</div>
		<hr>
		<div class="row">
			<div class="col-md-7">
				<h3>Local Economic Figures</h3>
				<div class="graph">
					<div class="bar"></div>
					<div class="bar"></div>
				</div>
				<p><a href="">More About RD Home Services</a></p>
			</div>
			<div class="col-md-5">
				<h3>Social Enterprise</h3>
				<h4>$1,000,0000+ Local Impact</h4>
				<p>Uniquely synergize extensive data vis-a-vis an expanded array of functionalities. Competently promote functionalized deliverables rather than customized experiences.</p>
				
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-5">
				<h3>Jack McDoogan</h3>
				<h4>J.M. Contracting</h4>
				<p>Intrinsicly engineer business value without integrated customer service. Holisticly envisioneer backward-compatible leadership skills before robust communities. Dynamically seize.</p>
			</div>
			<div class="col-md-7">
				<h3>Here's What Jack Says About Us...</h3>
				<h2>&ldquo;What an amazing thing I am saying about this company. I recommend them to anyone who loves amazing service.&rdquo;</h2>
				<p><a href="">More Testimonials?</a> | <a href="">Tell Us Yours!</a></p>
			</div>
		</div>
	</section>